extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/admin/edit-product", method="POST")
            div.form-control
                label(for="title") Title
                input(type="text", name="title", value=product.title)#title
            div.form-control
                label(for="imageUrl") Image URL
                input(type="text", name="imageUrl", value=product.imageUrl)#imageUrl
            div.form-control
                label(for="price") Price
                input(type="number", name="price", step="0.01", value=product.price)#price
            div.form-control
                label(for="description") Description
                textarea(rows="5", name="description")#description #{value=product.description}
            
            input(type='hidden', value=product._id, name='productId')
            button.btn(type="submit") Update Product