extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if errorMessage
            h4.user-message.user-message--error #{errorMessage}

        form.product-form(action="/admin/add-product", method="POST", enctype="multipart/form-data")
            div.form-control
                label(for="title") Title
                input(class=(validationErrors.find(e => e.path === "title") ? "invalid" : ''),  type="text", name="title", value=product.title)#title

            //- div.form-control
            //-     label(for="imageUrl", autocomplete='on') Image URL
            //-     input(class=(validationErrors.find(e => e.path === "imageUrl") ? "invalid" : ''),  type="text", name="imageUrl", value=product.imageUrl)#imageUrl

            div.form-control
                label(for="image") Image
                input(type="file", name="image")#image
            
            div.form-control
                label(for="price") Price
                input(class=(validationErrors.find(e => e.path === "price") ? "invalid" : ''),  type="number", name="price", step="0.01", value=product.price)#price
            div.form-control
                label(for="description") Description
                textarea(class=(validationErrors.find(e => e.path === "description") ? "invalid" : ''),  rows="5", name="description")#description #{product.description}

            input(type="hidden", name="_csrf", value=csrfToken)
            button.btn(type="submit") Add Product